@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header {
    background-color: rgba(0, 163, 108, 100);
}

.logo img {
    max-height: 64px;
}

.image img {
    max-height: 64px;
}

.navbar a {
    margin: 5px;
}

footer {
    background-color: rgba(0, 163, 108, 100);
}
input, button {
    background-color: rgba(0, 163, 108, 100);
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

/*
Button like signin
 */
#user-button a{
    background-color: rgba(0, 163, 108, 100);
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
#scrollspy-agent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
