@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

header {
    background-color: rgba(0, 163, 108, 100);
}

.logo img {
    max-height: 64px;
}

.image img {
    max-height: 64px;
}

.navbar  li>a {
    margin: 5px;
    color: white;
}
.navbar-nav li>a:hover {
    color: rgba(0, 163, 108, 100);
    background-color: white;
}

footer {
    background-color: rgba(0, 163, 108, 100);
}
input, button {
    background-color: rgba(0, 163, 108, 100);
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
/*
Button like signin
 */
#user-button a{
    background-color: rgba(0, 163, 108, 100);
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
#user-button{
    margin: 6px;
}
#scrollspy-agent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 163, 108, 100);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0 89 59);
}

/* CATEGORIES */

/* Sports */
.cat-sports {
    background-color: #FF5733;
    color: #FFFFFF;
}

/* Tech */
.cat-tech {
    background-color: #007BFF;
    color: #FFFFFF;
}

/* Crafts and Arts */
.cat-crafts-and-arts {
    background-color: #F7DC6F;
    color: #000000;
}

/* Toys */
.cat-toys {
    background-color: #FFC300;
    color: #000000;
}

/* Books and Movies */
.cat-books-and-movies {
    background-color: #9B59B6;
    color: #FFFFFF;
}

/* Homeware */
.cat-homeware {
    background-color: #27AE60;
    color: #FFFFFF;
}

/* Other */
.cat-other {
    background-color: #BDC3C7;
    color: #000000;
}

