/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 Jul 2023, 21:51:27
    Author     : minia
*/
header {
    background-color: rgba(0, 163, 108, 100);
}

.logo img {
    height: 180px;
}

.image img {
    height: 100px;
}

.navbar a {
    margin: 5px;
}

footer {
    background-color: rgba(0, 163, 108, 100);
    margin-top: auto;
        width: 100%
}

.tagline {
    width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      background-color: red;
}

input, button {
    background-color: rgba(0, 163, 108, 100);
    border: none;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

input::placeholder, button {
    color: white;
}

.searchDate {
    border: 4px solid rgba(0, 163, 108, 100);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/*
*/
.square {
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 163, 108, 100);
  margin: 5px;
  border-radius: 15px;
}

/* Link Overlay */
.square a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.square a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
    
.categorySearch {
    padding: 10px;
    border-radius: 5px;
    border: 4px solid rgba(0, 163, 108, 100);
    margin: 20px auto 20px;
    text-align: center;
}

/*
css for the chat preview

*/

.chat-list {
      list-style-type: none;
      padding: 0;
    }
    
    .chat-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
    
    .chat-item:last-child {
      border-bottom: none;
    }
    
    .user-photo {
      width: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    .chat-content {
      flex: 1;
    }
    
    .chat-item a {
        text-decoration: none;
        color: black;
    }
    