<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/html.html to edit this template
-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css" type="text/css" />
    
    <title>Chats</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</head>

<body>
    <script defer src="../script/script.js"></script>
    <div class="page-container">
        <header class="text-white">
            <div class="container d-flex align-items-center justify-content-between py-3">
                <div class="logo">
                    <img src="../images/logo.png" alt="Logo">
                </div>

                <nav class="navbar">
                    <a class="nav-link" href="#">Home</a>
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>

                <div class="image">
                    <img src="../images/user.png" alt="User">
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="flex justify-center items-center h-screen">
                    <div class="centered-div">
                        <h2>Name of the product</h2>
                        <div class="button-container">
                            <div class="chat-button price">Total price</div>
                            <div class="chat-button period">Rental period</div>
                        </div>
                    </div>
                </div>

                <ul class="chat-messages" id="chatMessages">

                </ul>

                <div class="chat-input">
                    <input type="text" id="messageInput" placeholder="Type a message">
                    <button id="sendMessageButton">Send</button>
                </div>
            </div>
        </main>
    </div>

    <footer class="text-white footer">
        <div class="container py-2">
            <p>&copy; <b>FOOTER</b></p>
        </div>
    </footer>
</body>

</html>